<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.jm.dao.ApiDao">

    <resultMap id="ApiListMap" type="com.test.jm.dto.test.ApiDTO">
        <id column="id" property="id"></id>
        <result column="project_id" property="project_id"></result>
        <result column="case_id" property="case_id"></result>
        <result column="name" property="name"></result>
        <result column="url" property="url"></result>
        <result column="headers" property="headers"></result>
        <result column="cookies" property="cookies"></result>
        <result column="method" property="method"></result>
        <result column="body" property="body"></result>
        <result column="paramstype" property="paramstype"></result>
        <result column="author" property="author"></result>
        <result column="update_author" property="update_author"></result>
        <result column="create_time" property="create_time"></result>
        <result column="modify_time" property="modify_time"></result>
    </resultMap>

    <insert id="addInterface" parameterType="com.test.jm.dto.test.ApiDTO">
          INSERT INTO
          interface
          (id, project_id, case_id, name, url, headers, method, body, paramstype, author, update_author, create_time, modify_time)
          VALUES
          (#{id}, #{project_id}, #{case_id}, #{name}, #{url}, #{headers}, #{method}, #{body}, #{paramstype}, #{author}, #{update_author}, now(), now())
    </insert>

    <select id="selectInterfaceById" parameterType="java.lang.String"
            resultType="com.test.jm.dto.test.ApiDTO">
        SELECT * FROM interface
        <trim prefix="WHERE" >
            <if test="_parameter != null">
                id = #{id}
            </if>
        </trim>
    </select>

    <select id="getApiList" parameterType="com.test.jm.domain.page.ApiPage" resultMap="ApiListMap">
         SELECT * FROM interface
         <trim prefix="WHERE" prefixOverrides="AND">
             <if test="project_id != null and project_id != ''">
                 project_id = #{project_id}
             </if>
             <if test="case_id != null and case_id != ''">
                 AND case_id = #{case_id}
             </if>
             ORDER BY create_time DESC
         </trim>
    </select>

    <update id="editInterface" parameterType="com.test.jm.dto.test.ApiDTO">
        UPDATE interface
        <set>
            <if test="project_id != null">
                project_id = #{project_id},
            </if>
            <if test="case_id != null">
                case_id = #{case_id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>

            <if test="url != null">
                url = #{url},
            </if>
            <if test="headers != null">
                headers = #{headers},
            </if>
            <if test="method != null">
                method = #{method},
            </if>
            <if test="body != null">
                body = #{body},
            </if>
            <if test="paramstype != null">
                paramstype = #{paramstype},
            </if>
            <if test="update_author != null">
                update_author = #{update_author},
            </if>
            modify_time = now()
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteInterfaceById" parameterType="java.lang.String">
        DELETE FROM interface WHERE id = #{id}
    </delete>

</mapper>