<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.jm.dao.CaseDao">

    <resultMap id="case_extend_list" type="com.test.jm.dto.CaseExtend">
        <id column="pid" property="pid"></id>
        <result column="project_name" property="project_name"/>
        <collection property="caseExtends" ofType="com.test.jm.dto.test.CaseDTO">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <insert id="addCase" parameterType="com.test.jm.dto.test.CaseDTO">
          INSERT INTO
          test_case
          (id, project_id, name, author, update_author, create_time, modify_time)
          VALUES
          (#{id}, #{project_id}, #{name}, #{author}, #{update_author}, now(), now())
    </insert>


    <select id="selCaseByProjectId" parameterType="java.lang.String"
            resultMap="case_extend_list">
        SELECT p.id as pid,p.project_name,c.id,c.name FROM project p
        LEFT JOIN test_case c
        ON p.id = c.project_id
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="_parameter != null">
                p.id = #{id}
            </if>
        </trim>
    </select>

    <update id="editCase" parameterType="com.test.jm.dto.test.CaseDTO">
        UPDATE test_case
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="update_author != null">
                update_author = #{update_author},
            </if>
            modify_time = now()
        </set>
        WHERE id = #{id}
        and project_id = #{project_id}
    </update>


    <delete id="delCase" parameterType="com.test.jm.dto.test.CaseDTO">
        DELETE FROM test_case
        WHERE id = #{id}
        and project_id = #{project_id}
    </delete>

</mapper>