<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.jm.dao.TaskExtendDao">

    <resultMap id="task_extend_list" type="com.test.jm.dto.test.TaskExtendDTO">
        <id column="id" property="id"></id>
        <id column="task_id" property="task_id"></id>
        <result column="project_id" property="project_id"/>
        <result column="case_id" property="case_id"/>
        <result column="api_id" property="api_id"/>
        <result column="api_name" property="api_name"/>
        <result column="rank" property="rank"/>
        <result column="post_processors" property="post_processors"/>
        <result column="valid_data" property="valid_data"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getTaskExtendListById" parameterType="com.test.jm.dto.test.TaskExtendDTO"
            resultMap="task_extend_list">
        SELECT
        t.id,
        t.task_id,
        t.project_id,
        t.case_id,
        t.api_id,
        t.api_name,
        t.rank,
        t.post_processors,
        t.valid_data,
        t.status
        FROM
        task_case c
        LEFT JOIN task_case_extend t ON c.id = t.task_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id != null">
                c.id = #{id}
            </if>
            <if test="status != null">
                t.status = #{status}
            </if>
        </trim>
        ORDER BY t.rank ASC
    </select>

    <select id="getTaskExtendById" parameterType="java.lang.String" resultType="com.test.jm.dto.test.TaskExtendDTO">
        SELECT * FROM task_case_extend
        <trim prefix="WHERE">
            <if test="_parameter != null">
                task_id = #{task_id}
            </if>
        </trim>
        ORDER BY rank DESC LIMIT 1
    </select>

    <delete id="removeTaskExtendById" parameterType="java.lang.String">
        DELETE FROM task_case_extend
        <trim prefix="WHERE">
            <if test="_parameter != null">
                id = #{id}
            </if>
        </trim>
    </delete>

    <insert id="addTaskExtend" parameterType="com.test.jm.dto.test.TaskExtendDTO">
        INSERT INTO `task_case_extend` (`task_id`,project_id,case_id,
        `api_id`,`api_name`,`rank`,`post_processors`,`valid_data`,
        `status`,`create_time`)
        VALUES
        (#{task_id}, #{project_id}, #{case_id}, #{api_id}, #{api_name}, #{rank}, #{post_processors},
        #{valid_data}, #{status}, now())
    </insert>

    <update id="updateTaskExtendStatusList" parameterType="com.test.jm.domain.TaskExtendStatusParams">
        UPDATE task_case_extend SET status = #{status}
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
                #{item}
        </foreach>
    </update>

    <update id="updateTaskExtendRankByList" parameterType="java.util.List">
        <foreach collection="list" item="item" open="" close="" separator=";" >
            UPDATE task_case_extend
            <set>
                <if test="item.rank != null">
                    rank = #{item.rank}
                </if>
            </set>
            WHERE id =#{item.id}
        </foreach>
    </update>

    <delete id="deleteTaskExtendByList" parameterType="java.util.List">
        DELETE FROM task_case_extend
        WHERE id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>