<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.jm.dao.TaskDrawDao">

    <resultMap id="TaskDrawMap" type="com.test.jm.dto.TaskDrawDTO">
        <id property="id" column="id"></id>
        <result property="types" column="types"></result>
        <result property="values" column="values"></result>
        <result property="left" column="left"></result>
        <result property="right" column="right"></result>
    </resultMap>
    <select id="getTaskDraw" parameterType="java.lang.Integer"
            resultMap="TaskDrawMap">
        SELECT *
        FROM task_draw
        WHERE id=#{id}
    </select>





</mapper>