<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.jm.dao.TaskDao">

    <resultMap id="task_list" type="com.test.jm.dto.TaskJob">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="cron_expression" property="cron_expression"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time" property="end_time"/>
        <result column="status" property="status"/>
        <result column="TRIGGER_STATE" property="TRIGGER_STATE"/>
        <result column="update_author" property="update_author"/>
        <result column="modify_time" property="modify_time"/>
    </resultMap>

    <select id="getTaskList" resultMap="task_list">
        SELECT c.id,c.name,c.cron_expression,c.start_time,
        c.end_time,c.status,s.TRIGGER_STATE,c.update_author,date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') as modify_time
        from task_case c
        LEFT JOIN QRTZ_TRIGGERS s
        on c.id=s.TRIGGER_NAME
    </select>

    <select id="getTaskById" parameterType="java.lang.String" resultType="com.test.jm.dto.TaskDTO">
        SELECT * FROM task_case WHERE id = #{id}
    </select>

    <insert id="addTask" parameterType="com.test.jm.dto.TaskDTO">
        INSERT INTO `task_case` (
        `id`,`name`, `cron_expression`, `start_time`, `end_time`,
        `status`, `author`, `update_author`, `create_time`, `modify_time`)
        VALUES
        (
            #{id},#{name},#{cron_expression},#{start_time},#{end_time},
            #{status},#{author},#{update_author},now(),now()
        )
    </insert>

    <update id="updateTask" parameterType="com.test.jm.dto.TaskDTO">
            UPDATE task_case
            <set>
                <if test="name != null">
                name = #{name},
                </if>
                <if test="cron_expression != null">
                    cron_expression = #{cron_expression},
                </if>
                <if test="start_time != null">
                    start_time = #{start_time},
                </if>
                <if test="end_time != null">
                    end_time = #{end_time},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="update_author != null">
                    update_author = #{update_author},
                </if>
                    modify_time = now()
            </set>
            WHERE id =#{id}
    </update>

    <delete id="deleteTask" parameterType="java.lang.String">
        DELETE FROM task_case
        <trim prefix="WHERE">
            <if test="_parameter != null">
                id = #{id}
            </if>
        </trim>
    </delete>


</mapper>