<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.jm.dao.TokenDao">

    <insert id="addToken" parameterType="com.test.jm.dto.TokenDTO">
          INSERT INTO
          user_token
          (user_id, token, status, expire_time, create_time, modify_time)
          VALUES
          (#{user_id}, #{token},0 , #{expire_time}, now(), now());
    </insert>

    <select id="findTokenByUserId" parameterType="java.lang.String"
            resultType="com.test.jm.dto.TokenDTO">
        SELECT user_id, token, expire_time, modify_time FROM user_token
        <trim prefix="WHERE">
            <if test="_parameter != null">
                user_id = #{_parameter}
            </if>
        </trim>
        ORDER BY  modify_time DESC
        LIMIT 1;
    </select>

    <update id="updateToken" parameterType="com.test.jm.dto.TokenDTO">
        UPDATE user_token
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="token != null">
                token = #{token},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="expire_time != null">
                expire_time = #{expire_time},
            </if>
            modify_time = now()
        </set>
        WHERE user_id = #{user_id};
    </update>

</mapper>